/*.article__headline{*/

/*    padding: 30px;*/
/*    background-color: rgba(0,0,0,0.9);*/

/*}*/


/*.site-header  .container{*/
/*    background-color: rgba(0,0,0,0.9);*/
/*}*/
.c-hero__wrapper{
        background-color: rgba(0,0,0,0.7);
}

.rgb-logo{
        z-index: 1000;
        color: #FFFFFF;
}
